<div style="width: 100%;height: 160vh;margin-top: -300px;" class="d-flex justify-content-center align-items-center">
     <div class="shadow p-5 rounded bg-info">
    <form>
<div class="form-floating mb-3">
                <div class="mb-3">
                  <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" name="email" [(ngModel)]="email">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" id="password" placeholder="password" name="password" [(ngModel)]="password">
                </div>
                <button (click)="login()" type="submit" class="btn btn-primary d-flex justify-content-center align-items-center">Submit</button>
    
</div>          </form>
</div>  
    
</div>