<div class="div d-flex border border-light">
    <div style="width: 200px;height: 90vh;" class="sidebar bg-info p-3 d-flex flex-column">
    <a routerLink="/home">HOME</a>  
    <a routerLink="/users">USERS</a>  
  </div>
    <div class="dashboard p-3">
    </div>
<div>
    <div style="width: 100%;height: 160vh;margin-top: -300px;" class="d-flex justify-content-center align-items-center">
        
      <div class="user-details shadow p-5 rounded bg-info">
        <form #addUserForm="ngForm">
         <h3 class="text-light">            Edit User
         </h3>
    <!-- <div class="form-floating mb-3"> -->
                     <div class=" mb-3">
                     <input type="text" class="form-control" id="floatingInputId"  placeholder="User Id" name="id"  pattern="[0-9]*" #id="ngModel" [(ngModel)]="user.id" required/>
                     <!-- <label for="floatingInputId">User Id</label> -->
                     </div>
                     <!-- invalid id -->
                     <div *ngIf="id.invalid && id.touched" class="mb-3 text-danger">*Invalid Id</div>
                    <div class=" mb-3">
                      <input type="text" class="form-control" id="username"  placeholder="Username" name="name" [(ngModel)]="user.name" #name="ngModel" pattern="[a-zA-Z ]*" required/>
                    </div>
                    <!-- invalid name -->
                    <div *ngIf="name.invalid && name.touched" class="mb-3 text-danger">*Invalid Username</div>
                   
                    <div class="mb-3">
                      <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="user.email" #name="ngModel" email required/>
                    </div>
                    <div *ngIf="name.invalid && name.touched" class="mb-3 text-danger">*Invalid Username</div>
 
                    <div class="form-floating mb-3">
                       <select id="status" class="form-control" name="active" [(ngModel)]="user.active" #active="ngModel"  required>
                         <option value="" disabled selected hidden></option>
                         <option value="1">Active</option>
                         <option value="0">Inactive</option>
                       </select>
                       <label for="" id="status">Status</label>
                                     </div>
                                     <div *ngIf="active.invalid && active.touched" class="mb-3 text-danger">*Invalid status</div>     
 
                                     <div class="d-flex align-items-center">
                                         <button (click)="cancelUpdate(user.id)"  type="button" class="btn btn-warning d-flex justify-content-center align-items-center">cancel</button>
                                        <button (click)="updateUser()" [disabled]="addUserForm.invalid"  type="button" class="btn btn-success d-flex justify-content-center align-items-center ms-5">save</button>
                 
                     
                 </div>  
                        
    <!-- </div>          -->
    </form>
    </div>  
       
   </div>
</div>